<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--xmlns:th=http://www.thymeleaf.org--"-->
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <script src="/js/jquery.min.js"></script>
    <script src= "/js/jquery-1.12.4.js"></script>
    <script src= "/js/1.js" ></script>


</head>
<body>
    <p>I am index  hello</p>
    <button id = "b2">接受faq数据</button>
    <button id = "b1">addFaq</button>
    <button id = "b3">updateFaq</button>
    <button id = "b4">DeleteFaq</button>
    <button id = "b5">接受user数据</button>
    <button id = "b6">updateUserState</button>
    <button id = "b7">搜索</button>
    <button id = "b8">搜索1</button>
    <button id = "b9">搜索2</button>
    <button id = "b10">得到替换名单</button>
    <button id="b11">add客户</button>
    <button id="b12">add维护人员</button>
</body>


</html>